<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="username">Nom d'utilisateur</label>
    <input id="username" formControlName="username">
     @if (signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched) {
      <div>
        @if (signUpForm.get('username')?.errors?.['required']) {
          <span>Le nom d'utilisateur est requis.</span>
        }
        @if (signUpForm.get('username')?.errors?.['minlength']) {
          <span>Le nom doit comporter au moins 3 caractères.</span>
        }
      </div>
    }
  </fieldset>

  <fieldset>
    <label for="email">Email</label>
    <input id="email" formControlName="email">
    @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
      <div>
        @if (signUpForm.get('email')?.errors?.['required']) {
          <span>L'email est requis.</span>
        }
        @if (signUpForm.get('email')?.errors?.['email']) {
          <span>L'email est invalide'</span>
        }
      </div>
    }
  </fieldset>

  <fieldset formGroupName="passwords">
    <label for="password">Mot de passe</label>
    <input id="password" formControlName="password" type="password">
    @if(signUpForm.get('passwords.password')?.invalid && signUpForm.get('passwords.password')?.touched) {
        <div>
            @if (signUpForm.get('passwords.password')?.errors?.['required']) {
               <span>L'email est requis.</span>
            }
            @if (signUpForm.get('passwords.password')?.errors?.['securePassword']) {
                <span>Le mot de passe doit contenir au minimum 12 caractères, un chiffre, un symbole, une majuscule et une minuscule</span>
            }
        </div>
    }

    <label for="confPassword">Confirmation Mot de passe</label>
    <input id="confPassword" formControlName="confPassword" type="password">
    @if(signUpForm.get('passwords.confPassword')?.touched) {
        <div>
            @if (signUpForm.get('passwords')?.errors?.['passwordsMismatch']) {
                <span>Les mots de passe sont différents'</span>
            }
        </div>
    }
  </fieldset>

  <button type="submit" [disabled]="signUpForm.invalid" >S'inscrire</button>
</form>